# ----------------------------------------------------------------------
# Better website experience for IE users
# ----------------------------------------------------------------------

# Force the latest IE version, in various cases when it may fall back to IE7 mode
#  github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk

<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge,chrome=1"
  # mod_headers can't match by content-type, but we don't want to send this header on *everything*...
  <FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>

# ----------------------------------------------------------------------
# Proper MIME type for Webfonts
# ----------------------------------------------------------------------

# Webfonts
AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType application/x-font-woff .woff

# ----------------------------------------------------------------------
# Allow concatenation from within specific js and css files
# ----------------------------------------------------------------------

# e.g. Inside of script.combined.js you could have
#   <!--#include file="libs/jquery-1.5.0.min.js" -->
#   <!--#include file="plugins/jquery.idletimer.js" -->
# and they would be included into this single file.

# This is not in use in the boilerplate as it stands. You may
# choose to use this technique if you do not have a build process.

<FilesMatch "\.combined\.js$">
  Options +Includes
  #AddOutputFilterByType INCLUDES application/javascript application/json
  SetOutputFilter INCLUDES
</FilesMatch>

<FilesMatch "\.combined\.css$">
  Options +Includes
  #AddOutputFilterByType INCLUDES text/css
  SetOutputFilter INCLUDES
</FilesMatch>

# ----------------------------------------------------------------------
# Compress text files
# ----------------------------------------------------------------------

<ifModule mod_deflate.c>
  <filesMatch "\.(css|js|x?html?|php|less)$">
    SetOutputFilter DEFLATE
  </filesMatch>
</ifModule>


# ----------------------------------------------------------------------
# Expires headers (for better cache control)
# ----------------------------------------------------------------------

# These are pretty far-future expires headers.
# They assume you control versioning with filename-based cache busting
# Additionally, consider that outdated proxies may miscache
#   www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/

# If you don't use filenames to version, lower the CSS and JS to something like
# "access plus 1 week".


<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault              "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest   "access plus 0 seconds"

# Your document html
  ExpiresByType text/html         "access plus 1 hour"

# Data
  ExpiresByType text/xml          "access plus 0 seconds"
  ExpiresByType application/xml     "access plus 0 seconds"
  ExpiresByType application/json      "access plus 0 seconds"

# Feed
  ExpiresByType application/rss+xml   "access plus 1 hour"
  ExpiresByType application/atom+xml    "access plus 1 hour"

# Favicon (cannot be renamed)
  ExpiresByType image/x-icon        "access plus 1 week"

# Media: images, video, audio
  ExpiresByType image/gif         "access plus 1 month"
  ExpiresByType image/png         "access plus 1 month"
  ExpiresByType image/jpeg        "access plus 1 month"
  ExpiresByType video/ogg         "access plus 1 month"
  ExpiresByType audio/ogg         "access plus 1 month"
  ExpiresByType video/mp4         "access plus 1 month"
  ExpiresByType video/webm        "access plus 1 month"

# HTC files (css3pie)
  ExpiresByType text/x-component      "access plus 1 month"

# Webfonts
  ExpiresByType application/x-font-ttf  "access plus 1 month"
  ExpiresByType font/opentype       "access plus 1 month"
  ExpiresByType application/x-font-woff "access plus 1 month"
  ExpiresByType image/svg+xml       "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

# CSS and JavaScript
  ExpiresByType text/css          "access plus 1 year"
  ExpiresByType application/javascript  "access plus 1 year"
</IfModule>

# ----------------------------------------------------------------------
# Cache-Control Headers
# ----------------------------------------------------------------------
<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "max-age=2592000, public"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "max-age=216000, private"
  </filesMatch>
  <filesMatch "\.(x?html?|php)$">
    Header set Cache-Control "max-age=600, private, must-revalidate"
  </filesMatch>
</ifModule>

# ----------------------------------------------------------------------
# ETag removal
# ----------------------------------------------------------------------

# FileETag None is not enough for every server.
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

# Since we're sending far-future expires, we don't need ETags for
# static content.
#   developer.yahoo.com/performance/rules.html#etags
FileETag None

# ----------------------------------------------------------------------
# Remove Last-Modified Header
# ----------------------------------------------------------------------
<ifModule mod_headers.c>
  Header unset Last-Modified
</ifModule>
