DirectoryIndex home.php
# actived mod_rewrite in server ^_^
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /aluvista/seeking/
	RewriteRule ^home\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /aluvista/seeking/home.php [L]
</IfModule>