@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'BKoodak';
	src: url('font/BKoodakBold.eot');
	src: url('font/BKoodakBold.eot?#iefix') format('eot'),
		 url('font/BKoodakBold.woff') format('woff'),
		 url('font/BKoodakBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
		-webkit-font-smoothing	: antialiased;
}


/*
@font-face {
  font-family: new;
  src:
	local('NewBskvll B'),
	local('NewBskvllB'),
	local('X NewBskvll B'),
	url('NewBaskervilleITCbyBT-Roman.afm') format("truetype"),
	url('NewBaskervilleITCbyBT-Roman.ttf') format('embedded-opentype'),
	url('NewBaskervilleITCbyBT-Roman.otf'),
	url('NewBaskervilleITCbyBT-Roman.woff');
  font-weight: normal;
	font-style:normal;
}
*/