/*	
	div, section {
		outline: 1px dotted red;
	}
	li {
		outline: 2px dashed #f0f;
	}
	body.left, body.right {
		outline: 2px dotted cyan;
	}
	body > .container, header, footer {
		outline: 3px dashed magenta;
	}
*/
body { > section {
		min-height: 595px;
		margin-top: 15px;
	}
	background: url(images/bg_big.jpg) no-repeat fixed;
	background-size: cover;
	header {
		height: 165px;
	}
	footer {}
}

header {
	background: url(images/lake_nang.png) top center;
	section { /* for set width: 950; added section in header ;)*/
		width: 840px;
		height: inherit; > .right {
			height: 110px;
			margin-top: 49px;.top {
				height: 50px;.left {
					height: inherit;
					nav {
						ul {
							list-style-type: none;
							height: inherit;
							float: right;
							li {
								float: left;
								height: inherit;
								a {
									text-decoration: none;
									display: block;
									padding: 10px 15px;
									font-size: 16px;
									color: white;
									font-weight: bold;
								}
								a:hover {
									color: #EAB410;
								}
							}
						}
					}
				}.right {
					height: inherit;
					float: none;
					background: url(images/rss.png) no-repeat center center;
				}
			}.down {
				height: 70px;
				width: 413px;
				nav {
					ul {
						list-style-type: none;
						height: inherit;
						li {
							float: left;
							height: inherit;
							a {
								text-decoration: none;
								display: block;
								padding: 20px 18px;
								font-size: 17px;
								color: white;
								font-weight: bold;
							}
							a:hover,
							.active {
								border-bottom: 2px solid #EAB410;
							}
						}
						li.right {
							float: none;
							margin-left: 320px;
						}
					}
				}
			}
		} > .left {
			height: 120px;
			margin-top: 30px;
			background: url(images/logo.png) no-repeat center center;
		}

	}
}
section.container { > .top {
		width: inherit;
		height: 300px; > section {
			position: relative;
			height: inherit;.left {
				position: absolute;
				z-index: 1;
				left: 30px;
				height: inherit;
				nav {
					background: url(images/slider_menu.jpg) no-repeat left center;
					height: inherit;
					ul {
						list-style-type: none;
						height: inherit;
						li {
							background: url(images/line-menu.jpg) no-repeat bottom left;
							a {
								text-decoration: none;
								display: block;
								padding: 21px 25px;
								color: white;
								font-size: 15px;
								text-indent: 20px;
								font-weight: bold;
							}.active {
								background: url(images/slider_nav.png) no-repeat right center;
							}
						}
						li:last-child {
							background: none;
						}
					}
				}
			}.right {
				background: url(images/textbox.jpg) no-repeat center center;
				width: 220px;
				margin-right: 20px;
				height: inherit;.top {
					width: inherit;
					height: 150px;
					background: url(images/divider_textbox.jpg) no-repeat center bottom;
				}.down {
					width: inherit;
					height: 150px;
				}
				p {
					text-indent: 16px;
					font-size: 16px;
					line-height: 20px;
					padding: 40px 10px;
					a {
						text-decoration: none;
					}
				}
			}.middle {
				height: inherit;
				margin-right: 240px;
			}
		}
	}.index { /* .down for index page  */
		width: inherit;
		height: 190px; > .left {
			height: 145px;
			margin-top: 10px;
			background: url(images/recentwork.png) no-repeat top center;
		} > .right {
			height: inherit;
			margin-left: 260px;
			float: none; > section {
				height: inherit;.left {
					height: inherit;
					width: 200px;.top {
						background-image: url(images/smal_pic1.jpg);
						width: inherit;
						height: 140px;
					}
				}.right {
					height: inherit;
					width: 200px;.top {
						background-image: url(images/smal_pic2.jpg);
						width: inherit;
						height: 140px;
					}
				}.middle {
					height: inherit;
					width: 200px;.top {
						background-image: url(images/smal_pic3.jpg);
						width: inherit;
						height: 140px;
					}
				}.top:hover {
					outline: 3px solid #EAB410;
				}.down {
					p {
						margin: 10px 0px 0px 0px;
						width: inherit;
						height: 50px;
						color: #FDED90;
					}
				}
			}
		}
	}.gallery { /*.down for gallery page */
		height: 650px; > section {
			background: url(images/gallery_content.png) no-repeat top center;
			height: 640px; > .left {
				height: 485px;
				p {
					font-size: 30px;
					padding-bottom: 20px;
					color: #FDED90;
				} > section {
					section {
						height: 70px;.left {
							height: inherit;
							background-color: white;
						}.right {
							height: inherit;
							background-color: white;
							float: none;
						}
					}
				} > div {
					height: 20px;
					margin-left: 5px;
				}
			} > .right {
				float: none;
				margin-left: 312px;
				margin-top: 50px;
				width: 462px;
				height: 560px;
				outline: 1px dashed #9B7617;
				p {}.top {
					height: 430px;
					margin-left: 20px;
					outline: 1px dotted #976700;
			}.down {
				height: 65px;
				margin-left: 5px;
			}
		}
	}
}.contact { /*.down for contact  page */
	height: 495px; > section {
		background: url(images/contact.png) no-repeat top center;
		width: 830px;
		height: 470px;.left {
			height: 365px;
			margin-top: 75px;
			table {
				tr.h {
					height: 15px;
				}
				tr {:first-child {
						width: 90px;
					}
					td {
						input[type = text] {
							width: 250px;
							height: 20px;
							border: none;
							border-radius: 4px;
							background-color: #CCC;
							box-shadow: 0 0 2px white;
						}
						input[type = submit] {
							float: right;
							width: 70px;
							color: gray;
							border: 1px solid #42411E;
							background: url(images/submit.jpg) no-repeat;
						}
						input[type = submit]:hover {
							background: url(images/submit-over.jpg) no-repeat;
						}
						textarea {
							width: 250px !important;
							height: 150px;
							background-color: #CCC;
							border: none;
							border-radius: 4px;
							box-shadow: 1px 1px 3px white;
						}
						label {
							color: #999;
							font-size: 18px;
						}
					}
				}
			}
		}.right {
				float: none;
				height: 200px;
				margin-top: 120px;
				text-align: center;
				article {
					div {
						height: 65px;
						p {
							color: white;
							padding: 5px 10px;
							padding: 10px 0px 10px 0px;
						}
					}
					div:last-child {
						border-bottom: none;
					}
					.line{width: 233px;
						height:8px;
						background: url(images/lines.png) no-repeat;
					}
				}
			}
		}
	}.color {/*.down for color page */
		height: 750px; > section {
			background: url(images/Content_color.png) no-repeat top center;
			width: 830px;
			height: 700px; > .left {
				height: inherit; > .top {
					width: 140px;
					margin: 0 auto;
					height: 240px;
				}.down {
					height: 450px;
					section {
						width: 115px;
						height: 300px;
						margin: 66px 0 0 45px;
						div {
							width: inherit;
							height: 35px;
							margin-top: 2px;
							input {
								width: inherit;
								height: inherit;
								background: url(images/btn_off.jpg) top center;
								border: none;
							}
							input:hover,
							.active {
								background: url(images/btn_on.jpg) top center;
							}
						}
					}
				}
			} > .right {
				width: 590px;
				height: inherit; > .top {
					margin: 0 auto;
					width: 490px;
					height: 240px;
				}.down {
					height: 450px; >img {
						margin: 50px 0px 0px 40px;
					} > section {
						height: 330px;
						margin-top: 90px; > section {
							height: 100px;
							div {
								height: inherit;
								background-color: #222100;
							}
						}
					}
				}
			}
			article {
				h4 {
					padding-top: 70px;
					text-indent: 20px;
					color: #FDED90;
				}
				p {
					padding: 8px 10px;
					text-indent: 15px;
					line-height: 25px;
					color: #FDED90;
				}
			}
		}

	}.process {/*.process page */
		height:620px; > section {
			background: url(images/content_process.png) no-repeat top center;
			width: 830px;
			height: 620px;.content {
				width: 30px;
				margin: 274px 0px 0px 403px;
				height: 30px;
				background: url(images/yellow-spinner.gif) no-repeat top center;
			}
		}
	}.process_content {/*.process_content page */
		height:620px; > section {
			background: url(images/content_process2.png) no-repeat top center;
			width: 830px;
				height: 620px;.content {
				width: 30px;
				margin: 290px 0px 0px 0px;
				height: 30px;
				background: url(images/yellow-spinner.gif) no-repeat top center;
			}
		}
	}
}
footer { > .top {
		height: 50px;
		background-color: #eab410;
		div {
			height: inherit;
			background: url(images/footer.jpg) no-repeat center center;.rss {
				background: url(images/rss_black.png) no-repeat center center;
			}.right {
				background: #eab410;
				nav {
					ul {
						height: inherit;
						list-style-type: none;
						li {
							height: inherit;
							float: left;
							a {
								text-decoration: none;
								display: block;
								padding: 10px 15px;
								color: #150600;
								font-size: 17px;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	} > .down {
		height: 70px;
		nav {
			ul {
				list-style-type: none;
				height: inherit;
				margin-left: 40px;
				li {
					height: inherit;
					float: left;
					a {
						text-decoration: none;
						display: block;
						padding: 20px 9px;
						color: white;
						font-size: 16px;
						font-weight: bold;
					}
					a:hover,
					a.active {
						border-bottom: 2px solid #EAB410;
					}
				}
				li.right {
					float: none;
					margin-left: 251px;
					width: 81px;
				}
			}
		}
	}
}