div, section {
	outline: 1px dotted red;
}

li {
	outline: 2px dashed#f0f;
}

body.left, body.right {
	outline: 2px dotted cyan;
}
body > .container, header, footer {
	outline: 3px dashed magenta;
}

body { > section {
		min-height: 595px;
		margin-top: 15px;
	}
	background: url(images/bg.jpg) no-repeat fixed;
	background-size: cover;
	header {
		height: 125px;
	}
	footer {} > div.gallary {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: -1;
		/*background: url(images/index.jpg) no-repeat center;*/
		background: url(images/gallary2.jpg) no-repeat center;
		height: 1335px;
		width: 950px;
	}
/*> div.index {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: -1;
		background: url(images/index.jpg) no-repeat center;
		height: 1000px;
		width: 950px;
	} */
	> div.contact {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: -1;
		background: url(images/contact-us.jpg) no-repeat center;
		/*background: url(images/index.jpg) no-repeat center;*/
		height: 1235px;
		width: 950px;
	} > div.color {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: -1;
		background: url(images/color-chart.png) no-repeat center;
		/*background: url(images/index.jpg) no-repeat center;*/
		height: 1460px;
		width: 950px;
	}
}
header { > .right {
		height: inherit;.top {
			height: 50px;.left {
				height: inherit;
				nav {
					ul {
						list-style-type: none;
						height: inherit;
						float: right;
						li {
							float: left;
							a {
								text-decoration: none;
								display: block;
								padding: 10px 25px;
								font-size: 16px;
								color: white;
								font-weight: bold;
							}
						}
					}
				}
			}.right {
				height: inherit;
				float: none;
				background: url(images/rss.png) no-repeat center center;
			}
		}.down {
			height: 70px;
			nav {
				ul {
					list-style-type: none;
					height: inherit;
					li {
						float: left;
						height: inherit;
						a {
							text-decoration: none;
							display: block;
							padding: 20px 18px;
							color: white;
							font-size: 16px;
							font-weight: bold;
						}
					}
					li.right {
						float: none;
						margin-left: 305px;
					}
				}
			}
		}
	} > .left {
		height: inherit;
		background: url(images/logo.png) no-repeat center center;
	}
}
section.container { > .top {
		width: inherit;
		height: 300px; > section {
			height: inherit;.left {
				height: inherit;
				margin-left: 10px;
				nav {
					background: url(images/slider_menu.png) no-repeat center center;
					height: inherit;
					ul {
						list-style-type: none;
						height: inherit;
						li {
							a {
								text-decoration: none;
								display: block;
								padding: 20px 25px;
								color: white;
								font-size: 15px;
								font-weight: bold;
								text-indent: 20px;
							}
						}
					}
				}
			}.right {
				background: url(images/textbox.jpg) no-repeat center center;
				width: 220px;
				height: inherit;.top {
					width: inherit;
					height: 150px;
				}.down {
					width: inherit;
					height: 150px;
				}
			}.middle {
				height: inherit;
				background: url(images/sliderpic1.jpg) no-repeat center center;
			}
		}
	}.index { /*O.down for index page  */
		width: inherit;
		height: 190px; > .left {
			height: inherit;
			background: url(images/recentwork.png) no-repeat top center;
		} > .right {
			height: inherit;
			float: none; > section {
				height: inherit;.left {
					height: inherit;
					width: 200px;.top {
						background-color: #6B6B21;
						width: inherit;
						height: 140px;
					}
				}.right {
					height: inherit;
					width: 200px;.top {
						background-color:#575724;
						width: inherit;
						height: 140px;
					}
				}.middle {
					height: inherit;
					width: 200px;.top {
						background-color: #44441B;
						width: inherit;
						height: 140px;
					}
				}.down {
					p{
						width: inherit;
						height: 50px;
						color:#808029;
					}
				}
			}
		}
	}.gallary { /*.down for gallary page */
		height: 650px; > section {
			height: 640px; > .left {
				height: 485px;
				p {
					font-size: 30px;
					padding-bottom: 20px;
				} > section {
					section {
						height: 70px;.left {
							height: inherit;
							background-color: white;
						}.right {
							height: inherit;
							background-color: white;
							float: none;
						}
					}
				} > div {
					height: 20px;
					margin-left: 5px;
				}
			} > .right {
				float: none;
				margin-left: 312px;
				margin-top: 50px;
				width: 462px;
				height: 560px;
				p {}.top {
					height: 430px;
					margin-left: 20px;
				}.down {
					height: 65px;
					margin-left: 5px;
				}
			}
		}
	}.contact {/*.down for contact  page */
		height: 495px; > section {
			width: 860px;
			height: 470px;.left {
				height: 365px;
				margin-top: 75px;
				table {
					tr.h {
						height: 15px;
					}
					tr {:first-child {
							width: 90px;
						}
						td {
							input[type = text] {
								width: 250px;
								height: 20px;
								border: none;
								background-color: #CCC;
								outline: 1px dotted red;
							}
							input[type = submit] {
								float: right;
								width: 70px;
							}
							textarea {
								width: 250px!important;
								height: 150px;
								background-color: #CCC;
								border: none;
							}
							label {
								color: #999;
								font-size: 18px;
							}
						}
					}
				}
			}.right {
				float: none;
				height: 200px;
				margin-top: 120px;
				div{
					height: 65px;
				}
			}
		}
	}.color{
		height:750px;>section{
			width:900px;
			height:700px;
			} > .left {
				
			} > .right {
			
			}
	}
}
footer { > .top {
		height: 50px;
		div{
			background-color: #eab410;
								height: inherit;.rss {
									background: url(images/rss_black.png) no-repeat center center;
								}.right {
									nav {
										ul {
											height: inherit;
											list-style-type: none;
											li {
												height: inherit;
												float: left;
												a {
													text-decoration: none;
													display: block;
													padding: 10px 15px;
													color: #150600;
								font-size: 17px;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	} > .down {
		height: 70px;
		nav {
			ul {
				list-style-type: none;
				height: inherit;
				margin-left: 40px;
				li {
					height: inherit;
					float: left;
					a {
						text-decoration: none;
						display: block;
						padding: 20px 10px;
						color:white;
						font-size: 16px;
						font-weight: bold;
					}
				}
				li.right {
					float: none;
					margin-left: 240px;
					width: 60px;
				}
			}
		}
	}
}