body { > section {
		min-height: 595px;
		outline: 1px solid red;
		margin-top: 15px;
	}
	background: url(images/bg.jpg) no-repeat fixed;
	background-size: cover;
	header {
		height: 125px;
		outline: 1px solid red;
	}
	footer {}
}
header { > .right {
		height: inherit;
		outline: 1px solid red;.top {
			height: 50px;
			outline: 1px solid red;.left {
				height: inherit;
				outline: 1px solid red;
				nav {
					ul {
						list-style-type: none;
						height: inherit;
						float: right;
						li {
							float: left;
							a {
								text-decoration: none;
								display: block;
								padding: 10px 25px;
							}
						}
					}
				}
			}.right {
				outline: 1px solid red;
				height: inherit;
				float: none;
			}
		}.down {
			height: 70px;
			outline: 1px solid red;
			nav {
				ul {
					list-style-type: none;
					height: inherit;
					li {
						float: left;
						outline: 1px dashed red;
						height: inherit;
						a {
							text-decoration: none;
							display: block;
							padding: 20px 18px;
						}
					}
					li.right {
						float: none;
						margin-left: 305px;
					}
				}
			}
		}
	} > .left {
		height: inherit;
		outline: 1px solid red;
	}
}
section.container {.top {
		width: inherit;
		height: 300px;
		outline: 1px solid red; > section {
			height: inherit;
			outline: 1px solid red;.left {
				height: inherit;
				outline: 1px solid red;
				nav {
					ul {
						list-style-type: none;
						height: inherit;
						li {
							outline: 1px solid red;
							background-color: white;
							a {
								text-decoration: none;
								display: block;
								padding: 20px 25px;
							}
						}
					}
				}
			}.right {
				height: inherit;
				outline: 1px solid red;.top {
					width: inherit;
					height: 150px;
				}.down {
					width: inherit;
					height: 150px;
				}
			}.middle {
				height: inherit;
				outline: 1px solid red;
			}
		}
	}.down {
		width: inherit;
		outline: 1px solid red;
		height: 190px; > .left {
			height: inherit;
			outline: 1px solid red;
		} > .right {
			height: inherit;
			outline: 1px solid red;
			float: none; > section {
				height: inherit;
				outline: 1px solid red;.left {
					height: inherit;
					width: 200px;
					outline: 1px solid red;.top {
						width: inherit;
						height: 140px;
						outline: 1px solid red;
					}.down {
						width: inherit;
						height: 50px;
						outline: 1px solid red;
					}
				}.right {
					height: inherit;
					width: 200px;
					outline: 1px solid red;.top {
						width: inherit;
						height: 140px;
						outline: 1px solid red;
					}.down {
						width: inherit;
						height: 50px;
						outline: 1px solid red;
					}
				}.middle {
					height: inherit;
					width: 200px;
					outline: 1px solid red;.top {
						width: inherit;
						height: 140px;
						outline: 1px solid red;
					}.down {
						width: inherit;
						height: 50px;
						outline: 1px solid red;
					}
				}
			}
		}
	}
}
footer { > .top {
		height: 50px;
		outline: 1px solid red;
	} > .down {
		outline: 1px solid red;
		height: 70px;
		nav {
			ul {
				list-style-type: none;
				height: inherit;
				margin-left: 40px;
				li {
					outline: 1px dashed red;
					height: inherit;
					float: left;
					a {
						text-decoration: none;
						display: block;
						padding: 20px 10px;
					}
				}
				li.right {
					float:none;
					margin-left: 240px;
					width: 60px;
				}
			}
		}
	}
}
div.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
	background: url(http://localhost/index/seeking/images/index.jpg) no-repeat center;
	height: 1000px;
	width: 950px;
	}