@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: new;
  src:
	local('NewBskvll B'),
	local('NewBskvllB'),
	local('X NewBskvll B'),
	url('NewBaskervilleITCbyBT-Roman.afm') format("truetype"),
	url('NewBaskervilleITCbyBT-Roman.ttf') format('embedded-opentype'),
	url('NewBaskervilleITCbyBT-Roman.otf'),
	url('NewBaskervilleITCbyBT-Roman.woff');
  font-weight: normal;
	font-style:normal;
}